asgiref==3.8.1
dj-database-url==2.1.0
dj-email-url==1.0.6
Django==5.0.3
django-cache-url==3.4.5
django-ckeditor==6.7.1
django-js-asset==2.2.0
environs==11.0.0
gunicorn==21.2.0
marshmallow==3.21.1
packaging==24.0
pip install pyuploadcare
pillow==10.4.0
pip==24.0
psycopg==3.1.18
python-dotenv==1.0.1
sqlparse==0.4.4
typing_extensions==4.10.0
tzdata==2024.1
whitenoise==6.6.0
