.Boshsahifa{
  background-color: blue;
  color: white;
}

/* color */

.fy-green{
  color: green
}
.fy-red{
  color: red
}
.fy-blue{
  color: blue
}
.fy-white{
  color: white
}
.fy-black{
  color: black
}
.fy-purple{
  color: purple
}
.fy-yellow{
  color: yellow
}

.fy-orange{
  color: orange
}

.fy-pink{
  color: pink
}


/* background-color */

.fy-bg-green{
  background-color: green
}
.fy-bg-red{
  background-color: red
}
.fy-bg-blue{
  background-color: blue
}
.fy-bg-white{
  background-color: white
}
.fy-bg-black{
  background-color: black
}
.fy-bg-purple{
  background-color: purple
}
.fy-bg-yellow{
  background-color: yellow
}

.fy-bg-orange{
  background-color: orange
}

.fy-bg-pink{
  background-color: pink
}
