{% extends 'base.html' %}
{% block title %}Kalit so'zni almashtirish{% endblock title %}
{% block content %}

  <h1>Kalit so'zni almashtirish</h1>
  <p>Avval eski kalit so'zni keyin esa yangi kalit so'zni ikki marotaba kiriting.</p>
  <form method="post">{% csrf_token %}
    <label for="">Eski parol</label>
    {{form.old_password}}
    <br>
    <label for="">Yangi parol</label>
    {{form.new_password1}}
    <br>
    <label for="">Yangi parol tasdiqlash</label>
    {{form.new_password2}}
    <br>
    <div class="d-grid gap-2">
      <button class="btn btn-outline-warning" type="submit" name="button">O'zgartirish</button>
    </div>
</form>

{% endblock content %}
