{% extends 'base.html' %}
{% load static %}
{% block head %}
{% endblock head %}
{% block content %}
  <p>
    1)Agar ro'yhatdan o'tmagan bo'lsangiz Ro'yhatdan o'tish tugmasini bosib yoki linkiga kirib username ni kiritasiz keyin ismingiz
    keyin familiyangiz keyin emaillingiz keyin yoshingiz undan keyin parol keyin parolni tastiqlash ni kiritasiz va yuborish tugmasini bosamiz.
  </p>
  <img src="{% static 'img/royhatdan_otish.png' %}" width="1200">

  <p>
    2)Ro'yhatdan to'gri o'tgan bo'lsangiz Kirish tugmasi yoki linkiga kirib username va parolingizni kiriting va Kirish tugmasini bosing.
  </p>
  <img src="{% static 'img/kirish.png' %}" width="1200">
  <p>
    3)hammasini to'g'ri bajargan bo'lsangiz sizda manashunga o'hshagan bo'lishi kerak.
  </p>
  <img src="{% static 'img/natija.png' %}" width="1200">

  <h3 class="f_tasalli">«.Bu sizga yordam berdi degan umiddamiz❕»</h3>
{% endblock content %}
☻∰✪ℱ
