{% extends 'home.html' %}

{% block post %}
  <br>
  <h1 class="fy-red">POSTLAR</h1>
  {% for post in object_list %}
    <div class="post-entry">
      <div class="post_title_d">
        <div class="w3-container">
          <h2><a href="{% url 'post_detail' post.pk %}">{{ post.title }}</a></h2>
        </div>
      </div>
      <div class="container">
        <div class="w3-container">
          <p>{{ post.body | slice:":100" }}</p>
        </div>
      </div>
    </div>
  {% endfor %}
{% endblock post %}
