{% extends 'base.html' %}
{% block title %}Post{% endblock title %}
{% block content %}
    <hr>

    <center><h1 class="fy-blue" ><font size="8">Maqolalar</font></h1></center>

    <hr>

  {% for post in object_list %}
    <div class="p-3 bg-info bg-opacity-10 border border-info border-start-0 rounded-end">
      <center><h2><a href="{% url 'post_detail' post.pk %}">{{post.title}}</a></h2></center>
      {% if post.photo %}
        <img class="img-fluid" src="{{post.photo.url}}" alt="{{post.title}}">
      {% endif %}

      <div class="card-body">
        {% if post.summary %}
        <h3>Maqolamizni qisqa mazmuni:</h3>
          <h4>► {{post.summary}}...</h4>

        {% endif %}

      </div>
      <p>muallif: {{post.author}} </p>
      <p>sana: {{post.date}}</p>

      
        <a href="{% url 'post_detail' post.pk %}"><button style="width:100%" class="btn btn-outline-primary" type="sumbit" name="button">KO'RISH</button></a>
    </div>
    <hr>
  {% endfor %}

{% endblock content %}
